<!DOCTYPE html>
<html>
<head>
    <title>Usuarios</title>
    <!-- Enlaza Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 shadow p-3 mb-5 bg-body-tertiary rounded">Usuarios</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.password }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary mt-4" onclick="window.location.href='/'">Volver a Inicio</button>
    </div>
    <!-- Enlaza Bootstrap JS y jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
